$font-stack: Roboto, Ubuntu, Carlito, Calibri;
$border-color: rgba(100, 100, 100, 0.3);
$shadow-color: rgba(70, 70, 70, 0.7);
$button-color: rgb(156, 39, 176);
$bg-color: rgb(243, 229, 245);
$notify-color: rgb(244, 67, 54);

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(2, 136, 209, 0.8);
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(2, 136, 209, 0.4);
}

body {
  background-color: $bg-color;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

#root {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  position: relative;
  flex-flow: column;
  margin:auto;
  align-items: center;
  justify-content: center;
  max-width: 320px;
}

.niceButton {
  padding: 10px;
  border: 1px solid $border-color;
  color: #ffffff;
  background-color: $button-color;
  border-radius: 2px;
  outline: none;
}

.niceButton:hover {
  // color: #000000;
  background-image: linear-gradient(0deg, rgb(136, 33, 165), rgb(166, 45, 185));
  outline: none;
}

.niceButton:focus {
  outline: none;
}

.niceButton:disabled {
  opacity: 0.5;
}

#loginCard {
  max-width: 320px;
  //border: 1px solid $border-color;
  .welcome {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-color;
    .title {
      background-color: #0288d1;
      padding: 5px;
      margin: 0;
      h2 {
        color: white;
        text-align: center;
      }
    }
    span {
      display: block;
      text-align: center;
      font-style: italic;
      padding: 10px;
    }
  }
}

#chatCard {
  display: none;
  // width: 300px;
  max-width: 320px;
  background-color: #0288d1;
  .messageBox {
    min-height: 150px;
    background-color: #ffffff;
    border-top: 1px solid $border-color;
    ul {
      max-height: 280px;
      position: relative;
      margin: 0;
      padding: 0;
      overflow: auto;
      li {
        margin: 0px 5px;
        padding: 10px;
        list-style-type: none;
        // background-image: url('/img/avatar.png');
        // background-repeat: no-repeat;
        // background-position: 0 4px;
        // padding-left: 50px;
        // padding-bottom: 50px;
        // margin-bottom: 10px;
        div {
          border: 1px solid $border-color;
          img {
            float: left;
            // padding-right: 5px;
          }
          span {
            font-size: 0.8em;
          .deleteButton {
            float: right;
            border: 1px solid $border-color;
            margin: 0px;
            padding: 0px 2px;
          }
          }
          // clear: both;
          overflow: hidden;
        }
      }
    }
  }
}

.greyText {
  color: $border-color;
}

.userForm {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #ffffff;
  input {
    padding: 10px;
    border: 1px solid $border-color;
  }
  input[type="text"] {
    margin-right: 10px;
    background-color: white;
    color: black;
  }

  input[type="text"]:disabled {
    color: $border-color;
  }
}

.userCard, .notifyBox {
  box-shadow: 1px 3px 3px $shadow-color;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
}

.chatOptions {
  padding: 5px;
  overflow: hidden;

  #logoutButton {
    float: left;
  }

  #colorButton {
    float: right;
  }
}

.logoutConfirm {
  padding-left: 5px;
  padding-bottom: 5px;
  //background-color: white;
}

.colorOptions {
  //background-color: white;
  ul {
    float: right;
    right: 5px;
    margin: 0;
    padding: 5px;
    li {
      display: inline-block;
      list-style: none;

      div {
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 2px;
      }
      #red {
        background-color: red;
      }

      #green {
        background-color: green;
      }

      #blue {
        background-color: blue;
      }
    }
  }
  overflow: hidden;
}

.notifyBox {
  position: absolute;
  // transform: translate(-50%, 0%);
  left: 0;
  width: 100%;
  bottom: -40px;
  display: none;
  background-color: $notify-color;
  margin: 5px auto;
  padding: 5px 0px;
  color: white;
  text-align: center;
}
